body{
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
header{
  background-image: url(donation13.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  background-position: center;
}
.inner-text h1{
  text-align: center;
  padding-top: 300px;
  font-size: 4rem;
}
.inner-text p{
  font-size: 1.1rem;
  margin-bottom: 35px;
}
.inner-text .btn{
  background-color: rgb(244, 113, 66);
  color: #fff;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 5px;
}

/* donation start */
.Donate-today{
  padding: 150px 120px;
}
.Donate-today .donate-text{
  text-align: center;
}
.donate-text p{
  color: grey;
  margin-top: 18px;
}
.Donate-today .amount{
  display: flex;
  padding-left: 28%;
  padding-top: 4rem;
}
.Donate-today .amount h3 span{
  margin-left: 20px;
  width: 30px;
  background-color: rgb(251, 248, 248);
  padding: 20px;
  border-radius: 5px;
}
.Donate-today .amount h3 #color{
  background-color: rgb(251, 174, 146);
  border: 2px solid rgb(253, 135, 91);
  color:rgb(253, 135, 91) ;
}
.Donate-today .amount-input input{
  /* padding-left: 30%; */
  border: none;
  width: 70%;
  height: 50%;
  border-bottom: 2px solid rgb(207, 205, 205);
  text-align: center;
  background-color: #fff;
}
.Donate-today .amount-input{
  padding-left: 25%;
  padding-top: 80px;
  padding-bottom: 40px;
}
.Donate-today .bnt{
  background-color: rgb(244, 113, 66);
  color: #fff;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 5px;
  margin-left: 45%;
}









