body{
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
header{
  background-image: url(donation13.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  background-position: center;
}
.inner-text h1{
  text-align: center;
  padding-top: 300px;
  font-size: 4rem;
}
.inner-text p{
  font-size: 1rem;
  margin-bottom: 35px;
}
.inner-text .btn{
  background-color: rgb(244, 113, 66);
  color: #fff;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 5px;
}

/* donation start */
.Donate-today{
  padding: 150px 120px;
}
.Donate-today .donate-text{
  text-align: center;
}
.donate-text p{
  color: grey;
  margin-top: 18px;
}
.Donate-today .amount{
  display: flex;
  padding-left: 28%;
  padding-top: 4rem;
}
.Donate-today .amount h3 span{
  margin-left: 20px;
  width: 30px;
  background-color: rgb(251, 248, 248);
  padding: 20px;
  border-radius: 5px;
}
.Donate-today .amount h3 #color{
  background-color: rgb(251, 174, 146);
  border: 2px solid rgb(253, 135, 91);
  color:rgb(253, 135, 91) ;
}
.Donate-today .amount-input input{
  /* padding-left: 30%; */
  border: none;
  width: 70%;
  height: 50%;
  border-bottom: 2px solid rgb(207, 205, 205);
  text-align: center;
  background-color: #fff;
}
.Donate-today .amount-input{
  padding-left: 25%;
  padding-top: 80px;
  padding-bottom: 40px;
}
.Donate-today .bnt{
  background-color: rgb(244, 113, 66);
  color: #fff;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 5px;
  margin-left: 45%;
}

/* donation plan */

#donation-plan{
  text-align: center;
}
#donation-plan h1{
  font-size: 1.5rem;
  margin-bottom: 12px;
}
#donation-plan p{
  color: grey;
}
#donation-plan .donation-category{
  display: flex;
  padding: 70px 80px;
  padding-left: 17%;
  
}
#donation-plan .donation-category .box{
  width: 28%;
  height: 40vh;
  margin: 10px;
  padding: 19px;
  border-radius: 3px;
}
#donation-plan .donation-category #box1{
  background-color: rgb(234, 247, 243);
}
#donation-plan .donation-category #box2{
  background-color: rgb(248, 235, 231);
}
#donation-plan .donation-category #box3{
  background-color: rgb(246, 227, 210);
}

/* your donation */

.your-donation{
  display: flex;
  padding: 50px 80px;
  margin: 1.1rem;
}
.your-donation .your-donation-text h1{
  font-size: 3rem;
  margin-bottom: 20px;
}
.your-donation .your-donation-text p{
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: grey;
}
.your-donation .your-donation-text #para{
  padding-bottom: 30px;
}
.your-donation .your-donation-text .btn2{
  background-color: rgb(244, 113, 66);
  color: #fff;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 5px;
}
.your-donation .your-donation-img img{
  height: 80%;
  border-radius: 5px;
}

/* they need */

.they-need{
  display: flex;
  padding: 30px 70px;
}
.they-need .they-need-img img{
  width: 80%;
  border-radius: 5px;
}
.they-need .they-need-text h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.they-need .they-need-text p{
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: grey;
}
.they-need .they-need-text .btn3{
  background-color: rgb(244, 113, 66);
  color: #fff;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 5px;
}
.they-need .they-need-text #para2{
  padding-bottom: 20px;
}

/* get update */

.get-update{
  text-align: center;
  padding: 100px 120px;
}
.get-update h1{
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.get-update p{
  font-size: 1.1rem;
  margin-bottom: 40px;
  color: grey;
}
.get-update .get-update-data{
  padding-top:80px ;
  margin: 0;
  width: 70%;
  height: 40%;
  margin-left: 17%;
  background-color: rgb(245, 222, 213);
}
.get-update .get-update-data form input{
  border: none;
  padding: 0.7rem;
  background-color: #ccc;
  margin-right: 0px;
  border-radius: 5px;
  margin-bottom: 65px;
}
.get-update .get-update-data form #btn4{
  border: none;
  padding: 0.7rem;
  background-color: rgb(244, 113, 66);
  color: #fff;
  margin-left: 0px;
  border-radius: 5px;
}
.get-update .get-update-data form{
  margin-right: 11%;
}

/* footer */

footer{
  text-align: center;
  background-color: #000;
  padding: 50px;
}
footer h1{
  color:rgb(244, 113, 66) ;
  font-size: 1.8rem;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1rem;
}
footer small{
  color: #fff;
}








